
/* Coming Soon CSS Start */
.comming_soon_page .c_title { display: block; font-weight: 400; font-size: 17px; font-weight: 300; padding-bottom: 5px; }
.comming_soon_page .counts { display: inline-block; width: 150px; text-align: center; }
.comming_soon_page .big { font-size: 60px; text-shadow: 2px 1px rgba(0, 0, 0, 0.12); }
.comming_soon_page .inner_tron h2 { font-size: 50px; }
.comming_soon_page .counts { border: 1px solid #ddd; border-radius: 10px; margin: 0px 10px 10px; }
.comming_soon_page .coming_timer { margin: 35px 0px; }
/* .comming_soon_page .back_to_home a { margin: 15px 0px; } */
.full_bg { height: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100%; background-repeat: no-repeat; background-size: cover; color: #fff; }
.white_logos { margin: 40px 0px; }
.wrap_tron {display: flex;justify-content: flex-end;align-items: center;height: calc(100vh - 330px);text-align: right;}
.inner_tron h1 { font-size: 200px; line-height: 0.9; text-shadow: 9px 4px rgba(0, 0, 0, 0.12); }
.inner_tron h2 { font-size: 62px; text-transform: capitalize; text-shadow: 3px 2px rgba(0, 0, 0, 0.12); }
.inner_tron p { font-size: 22px; text-transform: capitalize; text-shadow: 2px 1px rgba(0, 0, 0, 0.12); }
@media screen and (max-width: 1024px) {
    .inner_tron h1 { font-size: 100px; }
    .inner_tron h2 { font-size: 42px; }
    .back_to_home a { margin: 10px 0px !important; }
    .wrap_tron {justify-content: center;text-align: center;}
    }
    @media screen and (max-width:767px) {
    .comming_soon_page .inner_tron h2 { font-size: 30px !important; }
    .wrap_tron { height: auto; }
    .full_bg { overflow: auto; }
    }
/* Coming Soon CSS End */
